
.nav{
    display:inline-flex;
    float: inline-end;
    justify-content: space-evenly;
    padding: 20px;
    align-content: space-between;
    line-height: 1px;
    margin: 15px;
    font-size: 20px;
    font-family: poppin;
    gap: 100px;
}
.char{
    font-family: poppin;
    font-size: 20px;

}
.image>img{
    float: right;
    height:600px;
    width: 300px;
}
.section2>dp{
    display: -moz-inline-box;
    border: antiquewhite;
    margin-right: 16px;
    padding: 16px;
    border-radius: 12px;
}
.bb{
    width: 200px;
}
.menu{
    display: flex;
    justify-content: center;
    
}
.dp{
    float: right;
    width: 200px;
    box-shadow: 3px 3px 4px 4px grey;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    
}
.menu span{
    color: yellow;
}
.dp1{
    float: right;
    justify-self: center;
    width: 200px;
    box-shadow: 3px 3px 4px 4px grey;
    padding: 20px;
    margin: 100px;
    
}

.dp1 h7{
    font-size: 20px;
    color: red;
}
section2>h2{
    align-content: center;
    text-decoration: burlywood;
}
.section3>img{
    float: right;
    height: 400px;
    width: 400px;
}
.section4{
    background-color: yellow;
    background-size: cover;
    background-repeat: no-repeat;
}
.section4>div4{
    float: right;
    height: 400px;
    width: 400px;
}