.nav {
    display: flex;
    padding: 5px, 6px;
    margin: 5px;
    height: 5px;
    text-align: justify;
    text-decoration: crimson;
    justify-content: space-around;

}

nav {
    display: flex;
    align-items: center;
}

nav li {
    display: inline;
    justify-content: space-between;
}
nav li a{
    text-decoration: none;
    padding: 30px;
    color: black;
    font-weight: 600;
}

.btn {
    display: flex;
    align-items: center;
}
.btn button{
    border: none;
    padding: 15px 20px;
    color: white;
    background-color: blue  ;
}
.navbar span{
    color: blue;
}
.navbar{
    color: black;
    font-size: 25px;
    font-weight: 900;
}
.two {
    background-image: url(/images/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 100px;
    width: 100%;
}
.tt{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.tt>img {
    clear: both;    
    float: right;
    width:300px;

}
.pp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/Rectangle\ 11.png);
    background-size: cover;
    height: 500px;
}
.pp button {
    background-color:blue;
    padding:10px 20px;
    border: none;
    color: white;
    
}
.contacts{
    background-color: blue  ;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: darkblue;
    
    height: 10vh;
}
.footer footer a{
    color: white;
    text-decoration: none;
}
.container1{
    width: 300px;
    box-shadow: 3px 3px 3px 3px grey;
    padding: 50px;
}
.container1 img {
    width: 100%;
}

.hh{
    padding: 50px;
    display: flex;
    justify-content: space-between;

}